<h1 class="name">ブッダ</h1>
<%= image_tag 'Buddha.jpg', class: "philosophy-image" %>
<p class="ex-profile">ブッダは仏教の創立者であり、苦しみの原因とその解消法を教えました。彼の教えは四苦八苦と八正道を中心とし、心の静けさと悟りを追求することで個人の苦しみを超える方法を提供します。</p>
<p class="expertise">得意分野: 宗教学、倫理学、心理学</p>
<h3 class="philosophy-title">ブッダへの相談を入力してみましょう</h3>
<div class="philosophy-form-container">
  <%= form_with(url: search_adviser6_path, method: :get, class: "philosophy-form") do |form| %>
    <%= form.text_field :text, size: 75, class: "philosophy-input" %>
    <%= form.submit "回答", id: "submit-button", class: "philosophy-button" %>
  <% end %>
</div>

<div id="quote-container" class="quote-container">
<div class="quote-title">回答思案中</div>
<%= image_tag 'buddha4.png', class: "quote-image" %>
  <div class="quote-slide">
    <p class="quote-text">ブッダ語録<br>「心が平和であれば、幸せである。」</p>
  </div>
  <div class="quote-slide">
    <p class="quote-text">ブッダ語録<br>「怒りは毒を飲むようなものだ。」</p>
  </div>
  <div class="quote-slide">
    <p class="quote-text">ブッダ語録<br>「瞑想し、清らかに生きよ。」</p>
  </div>
</div>

<div class="chat-history-container">
  <h1>Chat History</h1>

  <ul>
    <% @chats.each do |chat| %>
      <li class="chat-item">
        <div>
          <span class="chat-label">質問者:</span>
          <span class="chat-message"><%= chat.user_message %></span>
        </div>
        <div>
          <span class="chat-label">ブッダ:</span>
          <span class="chat-message"><%= chat.bot_message.present? ? chat.bot_message.gsub('。', "。<br>").html_safe : '' %></span>

        </div>
        <%= form_with(url: destroy_adviser6_path(chat), method: :delete, local: true) do %>
        <%= submit_tag "Delete", data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  </div>

<%= link_to '哲人一覧に戻る', index_chats_path	%>
