<h1 class="name">ニーチェ</h1>
<%= image_tag 'Nietzsche.jpg', class: "philosophy-image" %>
<p class="ex-profile">ニーチェは19世紀のドイツの哲学者で、個人の自由と創造性を強調し、従来の道徳や宗教を批判しました。<br>彼の思想は、力への意志と超人思想で知られ、20世紀の哲学と文学に大きな影響を与えました。</p>
<p class="expertise">得意分野: 倫理学、宗教学、文化批判</p>
<h3 class="philosophy-title">ニーチェへの相談を入力してみましょう</h3>
<div class="philosophy-form-container">
  <%= form_with(url: search_adviser5_path, method: :get, class: "philosophy-form") do |form| %>
    <%= form.text_field :text, size: 75, class: "philosophy-input" %>
    <%= form.submit "相談", id: "submit-button", class: "philosophy-button" %>
  <% end %>
</div>

<div id="quote-container" class="quote-container">
<div class="quote-title">回答思案中</div>
<%= image_tag 'Nietzsche5.png', class: "quote-image" %>
  <div class="quote-slide">
    <p class="quote-text">ニーチェ語録<br>「強さは意志の問題である。」</p>
  </div>
  <div class="quote-slide">
    <p class="quote-text">ニーチェ語録<br>「なにものも永遠には存在せず。」</p>
  </div>
  <div class="quote-slide">
    <p class="quote-text">ニーチェ語録<br>「神は死んだ。」</p>
  </div>
</div>

<div class="chat-history-container">
<h1>Chat History</h1>

<ul>
  <% @chats.each do |chat| %>
    <li class="chat-item">
      <div>
        <span class="chat-label">質問者:</span>
        <span class="chat-message"><%= chat.user_message %></span>
      </div>
      <div>
        <span class="chat-label">ニーチェ:</span>
        <span class="chat-message"><%= chat.bot_message.gsub('。', "。<br>").html_safe %></span>
      </div>
      <%= form_with(url: destroy_adviser6_path(chat), method: :delete, local: true) do %>
      <%= submit_tag "Delete", data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>
</div>

<%= link_to '哲人一覧に戻る', index_chats_path	%>
