

<div class="card-contents">
  <h2 class="card-title">哲人一覧</h2>
  <div class="mobile_test">Test</div>
  <div class="user-items">
    <div class="item">
      <%= image_tag 'karl marx.png' %>
        <p class="username">カールマルクス</p>
        <%= link_to '相談する', 'adviser1/' %>
    </div>

    <div class="item">
    <%= image_tag 'Chuangzi.png' %>
      <p class="username">荘子</p>
      <%= link_to '相談する', 'adviser2/' %>
    </div>

    <div class="item">
    <%= image_tag 'archimedes.png' %>
      <p class="username">アリストテレス</p>
      <%= link_to '相談する', 'adviser3/' %>
    </div>

    <div class="item">
      <%= image_tag 'adler.jpg' %>
      <p class="username">アドラー</p>
      <%= link_to '相談する', 'adviser4/' %>
    </div>

    <div class="item">
      <%= image_tag 'Nietzsche.jpg' %>
      <p class="username">ニーチェ</p>
      <%= link_to '相談する', 'adviser5/' %>
    </div>

    <div class="item">
      <%= image_tag 'Buddha.jpg' %>
      <p class="username">ブッダ</p>
      <%= link_to '相談する', 'adviser6/' %>
    </div>

    <div class="item">
      <%= image_tag 'Levi-Strauss.jpg' %>
      <p class="username">レヴィ=ストロース</p>
      <%= link_to '相談する', 'adviser7/' %>
    </div>

    <div class="item">
      <%= image_tag 'Jacques Derrida.jpg' %>
      <p class="username">ジャック・デリダ</p>
      <%= link_to '相談する', 'adviser8/' %>
    </div>

    <div class="item">
      <%= image_tag 'Kitaro_nishida.jpg' %>
      <p class="username">西田幾多郎</p>
      <%= link_to '相談する', 'adviser9/' %>
    </div>
  </div>
</div>
