

<div class="card-contents">
            <h2 class="card-title">哲人一覧</h2>
            <div class="user-items">
              <div class="item">
                <%= image_tag 'karl marx.png' %>
                  <p class="username">カールマルクス</p>
                  <%= link_to '相談する', 'adviser1/' %>
              </div>

              <div class="item">
              <%= image_tag 'Chuangzi.png' %>
                <p class="username">荘子</p>
                <%= link_to '相談する', 'adviser2/' %>
              </div>

              <div class="item">
              <%= image_tag 'archimedes.png' %>
                <p class="username">アリストテレス</p>
                <%= link_to '相談する', 'adviser3/' %>
              </div>
</div>
