<%= image_tag 'adler.jpg', size: "300x300" %>
<h3 class="philosophy-title">アドラーへの相談を入力してみましょう</h3>
<div class="philosophy-form-container">
  <%= form_with(url: search_adviser4_path, method: :get, class: "philosophy-form") do |form| %>
    <%= form.text_field :text, size: 75, class: "philosophy-input" %>
    <%= form.submit "回答", id: "submit-button", class: "philosophy-button" %>
  <% end %>
</div>

<div id="quote-container" class="quote-container">
<div class="quote-title">アドラー語録</div>
  <div class="quote-slide">
    <p class="quote-text">「勇気は幸福の証だ。」</p>
  </div>
  <div class="quote-slide">
    <p class="quote-text">「人は何を見るかでなく、どう見るかで決まる。」</p>
  </div>
  <div class="quote-slide">
    <p class="quote-text">「人間は助け合いによってしか生きられない。」</p>
  </div>
</div>


<h1>Chat History</h1>

<ul>
  <% @chats.each do |chat| %>
    <li>
      <strong>質問者:</strong> <%= chat.user_message %><br>
      <strong>アドラー:</strong> <%= chat.bot_message %>
      <%= form_with(url: destroy_adviser4_path(chat), method: :delete, local: true) do %>
      <%= submit_tag "Delete", data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>

    <h3 class="follow-up-title">追加の質問を入力してみましょう</h3>
  <div class="follow-up-form-container">
  <%= form_with(url: follow_up_adviser4_path(id: @chat.id), method: :post, class: "follow-up-form") do |form| %>
    <%= form.text_field :text, size: 75, class: "follow-up-input" %>
    <%= form.submit "追加質問", class: "follow-up-button" %>
  <% end %>
  </div>

  <% end %>
</ul>

<%= link_to '哲人一覧に戻る', index_chats_path	%>
