<h1 class="name">荘子</h1>
<%= image_tag 'Chuangzi3.png', class: "philosophy-image" %>
<p class="ex-profile">古代中国の哲学者荘子は、道教の思想を展開し、自然と調和し、心の自由を追求する思想を説いた。<br>彼の思想は、物事の相対性と自然との調和を求める哲学的探求に根ざしています。</p>
<p class="expertise">得意分野: 哲学、宗教学、倫理学</p>
<h3 class="philosophy-title">荘子への相談を入力してみましょう</h3>
<div class="philosophy-form-container">
  <%= form_with(url: search_adviser2_path, method: :get, class: "philosophy-form") do |form| %>
    <%= form.text_field :text, size: 75, class: "philosophy-input" %>
    <%= form.submit "回答", id: "submit-button", class: "philosophy-button" %>
  <% end %>
</div>

<div id="quote-container" class="quote-container">
<div class="quote-title">回答思案中</div>
<%= image_tag 'Chuangzi4.png', class: "quote-image" %>
  <div class="quote-slide">
    <p class="quote-text">荘子語録<br>「自由は心の中にある。」</p>
  </div>
  <div class="quote-slide">
    <p class="quote-text">荘子語録<br>「幸福は自然と共にある。」</p>
  </div>
  <div class="quote-slide">
    <p class="quote-text">荘子語録<br>「物事は常に変わる。」</p>
  </div>
</div>

<div class="chat-history-container">
  <h1>Chat History</h1>

  <ul>
    <% @chats.each do |chat| %>
      <li class="chat-item">
        <div>
          <span class="chat-label">質問者:</span>
          <span class="chat-message"><%= chat.user_message %></span>
        </div>
        <div>
          <span class="chat-label">荘子:</span>
          <span class="chat-message"><%= chat.bot_message.present? ? chat.bot_message.gsub('。', "。<br>").html_safe : '' %></span>

        </div>
        <%= form_with(url: destroy_adviser2_path(chat), method: :delete, local: true) do %>
        <%= submit_tag "Delete", data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  </div>

<%= link_to '哲人一覧に戻る', index_chats_path	%>
